{% extends 'news/base.html' %}

{% block Content %}

    <div class="jumbotron">
      <div class="container">
        <h1>Django News</h1>
        <p>Have A LOOK Around and Find Some Feeds.</p>
      </div>
    </div>


   <div class="container">
   {% for row in rows %}
       <div class="col-md-6">

   {% for entry in row %}
       <h1>{{ entry.title }}</h1>
       <p>{{ entry.description | safe}}</p>
       <p><a href="{{ entry.url }}" target="_blank" class="btn btn-primary">View More</a></p>
       {%  endfor %}

       </div>
    {% endfor %}
   </div>


{% endblock %}