<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News Aggregator</title>
    {% load staticfiles %}
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Django News Aggregator</a>
        </div>
          <div id="navbar" class="navbar-collapse-collapse">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="{% url 'articles_list' %}">HOME</a></li>
                  <li><a href="{% url 'feeds_list' %}">Feeds</a></li>
              </ul>
          </div>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->

    {% block Content %}

    {% endblock %}


       <hr>
      <footer>
        <p>&copy; Django Aggregator News</p>
      </footer>
    </div>


 <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
 <script src="{% static 'bootstrap/jquery.min.js' %}"></script>

</body>
</html>