{% extends 'news/base.html' %}

{% block Content %}


   <div class="jumbotron">
      <div class="container">
        <h1>News Feed</h1>
      </div>
    </div>

    <div class="container">
    <a href="{% url 'feed_new' %}" class="btn btn-primary">New Feed</a>
    <hr>
    <ul>
    {% for feed in feeds %}
    <li><a href="{{ feed.url }}"> {{ feed.title }}</a></li>
    {% endfor %}
    </ul>
    </div>



{% endblock %}