{% extends 'news/base.html' %}

{% block Content %}


   <div class="jumbotron">
      <div class="container">
        <h1>New Feed</h1>
      </div>
    </div>

    <div class="container">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
        <hr>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    </div>



{% endblock %}